@mixin iconfont(){
  display: inline-block;
  font: normal normal normal 14px/1 '<%= fontName %>';
  font-size: inherit;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: '<%= fontName %>';
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('embedded-opentype'),
       url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
       url('<%= fontPath %><%= fontName %>.woff') format('woff'),
       url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
       url('<%= fontPath %><%= fontName %>.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%= className %>[class^="<%= className %>-"],
.<%= className %>[class*=" <%= className %>-"],
[class*="-<%= className %>-"]{
  @include iconfont();
}

$icons: (
  <%= glyphs.map(function(glyph) {
    return glyph.name + ': \'' + '\\' + glyph.unicode[0].charCodeAt(0)
      .toString(16).toUpperCase() + '\''
  }).join(',\n    ') %>
);

@each $name, $icon in $icons {
  .<%= className %>-#{$name} {
    &:before { content: $icon; }
  }
}